<h1>Editing Destination Profile Action</h1>

<%= render 'form', destination_profile_action: @destination_profile_action %>

<%= link_to 'Show', @destination_profile_action %> |
<%= link_to 'Back', destination_profile_actions_path %>
