<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @extension_profile.name %>
</p>

<%= link_to 'Edit', edit_extension_profile_path(@extension_profile) %> |
<%= link_to 'Back', extension_profiles_path %>
