<h1>Editing Extension Profile Action</h1>

<%= render 'form', extension_profile_action: @extension_profile_action %>

<%= link_to 'Show', @extension_profile_action %> |
<%= link_to 'Back', extension_profile_actions_path %>
